

.box {
  margin: 0; /* 수평 중앙 정렬 */
  position: relative; /* 부모 컨테이너 기준으로 정렬 */
  top: 50%; /* 수직 중앙 정렬 */
  transform: translateX(23.5%); /* 요소 높이 보정 */
  width: 1440px; /* 기존 너비 유지 */
  height: 300px; /* 기존 높이 유지 */
}

.box .header {
  background-color: transparent;
  height: 294px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

 .box .overlap-group {
  height: 294px;
  position: relative;
  width: 100%;
}

 .box .rectangle {
  background-color: #6c7e93;
  height: 290px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.box .bugsynergy {
  color: transparent;
  font-family: "Javanese Text-Regular", Helvetica;
  font-size: 60px;
  font-weight: 400;
  color: #000000;
  left: 556px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 80px;
  white-space: nowrap;
  width: 488px;
}


 .box .div {
  color: #000000;
  font-family: "Javanese Text-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1217px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 86px;
}

.box .text-wrapper-2 {
  color: #000000;
  font-family: "Javanese Text-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 1303px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 86px;
}

 .box .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 593px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 242px;
  width: 120px;
}

 .box .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  left: 730px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 242px;
  width: 120px;
}
